################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/MeteoProject.sdf
/MeteoProject.opensdf
/Debug/Window.obj
/Debug/vc140.pdb
/Debug/vc140.idb
/Debug/TextureManager.obj
/Debug/Text2Bin.exe
/Debug/Support.obj
/Debug/shaders.cso
/Debug/ShaderManager.obj
/Debug/Object.obj
/Debug/NN.tlog/NN.lastbuildstate
/Debug/NN.tlog/link.write.1.tlog
/Debug/NN.tlog/link.read.1.tlog
/Debug/NN.tlog/link.command.1.tlog
/Debug/NN.tlog/CL.write.1.tlog
/Debug/NN.tlog/CL.read.1.tlog
/Debug/NN.tlog/CL.command.1.tlog
/Debug/NN.tlog
/Debug/NN.pdb
/Debug/NN.ilk
/Debug/NN.exe
/Debug/MeteoProject.tlog/MeteoProject.write.1u.tlog
/Debug/MeteoProject.tlog/MeteoProject.lastbuildstate
/Debug/MeteoProject.tlog/link.write.1.tlog
/Debug/MeteoProject.tlog/link.read.1.tlog
/Debug/MeteoProject.tlog/link.command.1.tlog
/Debug/MeteoProject.tlog/FXC.write.1.tlog
/Debug/MeteoProject.tlog/FXC.read.1.tlog
/Debug/MeteoProject.tlog/FXC.command.1.tlog
/Debug/MeteoProject.tlog/CL.write.1.tlog
/Debug/MeteoProject.tlog/CL.read.1.tlog
/Debug/MeteoProject.tlog/CL.command.1.tlog
/Debug/MeteoProject.pdb
/Debug/MeteoProject.log
/Debug/MeteoProject.ilk
/Debug/MeteoProject.exe
/Debug/Main.obj
/Debug/Exception.obj
/Debug/Direct3DProcessor.obj
/Debug/DataLoader.obj
/Debug/ConstantBufferManager.obj
